body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 2000px;
    background-color: black
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    
    background-color: #ffd900;
    border-bottom: 4px solid #000000;
}


.logo{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua;  */
    align-items: center;
    height: 65px;
}

.logo img {
    height: 70px; /* Sesuaikan dengan ukuran logo Anda */
    margin: 5px;
    /* background-color: #ffc400; */
}

.judul{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo .judul p {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 33px;
    color:  #000000;
    text-align: center;
}







nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    width: 100%;
    /* background-color: purple; */
    justify-content: space-between;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
   background-color:#333333;
    border-radius: 20px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #fff;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Sesuaikan dengan warna latar belakang Anda */
    z-index: 1000; /* Pastikan z-index lebih tinggi dari konten untuk menampilkan di atasnya */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk efek elevasi */
}


/* hero */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/AULA.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1,1,3,1) 3%, rgba(255,255,255,0) 25%);
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity to make the image darker */
    z-index: 1;
}

.hero .content {
    /* background-color: #ffc400; */
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
}

.content h1 {
    color:#FFD700;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding:  0 0;
    margin-top: -30px;
}

.content p{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 10;
    
}

.button-lanjut {
    display: flex ;
    justify-content:center ;
    /* background-color:  red; */
    margin-top: -45px;
}

.content a {
    text-decoration: none;
    padding: 1rem 3rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal; 
    background-color:#FFD700;
    color: black;
    border-radius: 0,5rem;   
}   

.content a:hover {
    background-color: white;
}
       
      


/* Untuk tablet dan layar yang lebih besar */
@media screen and (min-width: 768px) {
    .nav-links {
        display: flex;
        justify-content: flex-end; /* Menyelaraskan tautan ke kanan */
        width: auto; /* Hapus lebar tetap */
        margin-right: 20; /* Hapus margin */
    }

    .nav-links ul {
        display: flex;
    }

    .nav-links ul li {
        margin-left: 20px; /* Tambahkan jarak antara tautan */


    }

   
    .burger {
        display: none; /* Sembunyikan menu burger pada layar yang lebih besar */
    }

    /* isi*/

    
    
}

/* Untuk layar yang lebih kecil seperti ponsel */
@media screen and (max-width: 767px) {
    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #333;
        width: 0; /* Awalnya sembunyikan tautan nav */
        overflow: hidden;
        transition: width 0.5s ease;
    }

    .nav-links.active {
        width: 60%; /* Sesuaikan sesuai kebutuhan */
    }

    .nav-links ul {
        flex-direction: column;
        padding: 80px 0px; /* Tambahkan padding untuk penataan yang lebih baik */
        /* background-color: blue; */

    }

    .nav-links ul li {
        margin: 10px 50;
        background-color: red;
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        text-decoration: none;
        color: #000000;
        padding: 5px 0px;
        background-color: #ffc400;
        border-radius: 0px;
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        width: 100%;
        text-align: center;
        
    }

    .logo .judul p {
        font-size: 25px;
    }

    .burger {
        display: block; /* Tampilkan menu burger pada layar kecil */
        margin-right: 25px;
    }

    
    
    .line1, .line2, .line3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: all 0.5s ease;
    }
    
    /* Animasi untuk ikon burger */
    .change .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .change .line2 {
        opacity: 0;
    }
    
    .change .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* isi */

  
}
